@import "checkbox";
@import "kbd";
@import "modal";
@import "navlink";
@import "select-input";
@import "swiper";
@import "table";
@import "tabs";
@import "bg-video";
@import "panel";
@import "window";
