.bg-video {
  // pointer-events: none;
  aspect-ratio: 16/9;
  & > iframe,
  & > video {
    height: 100dvh;
    width: 100vw;
    transition: transform 500ms;
    transform: scale(3.5);
    @include lg {
      transform: scale(1.2);
    }
  }

  & > img {
    height: 100dvh;
    width: 100vw;
  }
}
