.button-drag-bar {
  @apply hover:bg-white/10 transition hover:opacity-100 flex items-center justify-center p-0.5 rounded-md;
  width: 18px;
  height: 18px;
}

.button-close {
  @apply absolute p-2 right-1 top-1 transition rounded-lg bg-transparent border-none cursor-pointer;

  color: var(--text);
  font-size: 1.5rem;

  &:hover {
    @apply bg-white/[0.12];
  }
}

.button {
  @apply relative flex items-center justify-center w-fit gap-2 rounded-lg cursor-pointer font-medium;
  transition: all 0.15s ease;
  &:active {
    transform: translateY(2px);
  }
  &--sm {
    @apply px-4 py-2 h-8 text-sm;
  }
  &--md {
    @apply px-6 py-3 h-10;
  }
}

.button-settings {
  @apply px-4 py-2 transition w-full rounded-lg flex items-start justify-start text-left;
  &:hover {
    @apply bg-white/10;
  }
  &--active {
    @apply bg-primary text-foreground-primary;
    &:hover {
      @apply bg-primary;
    }
  }
}

.button-icon {
  @apply transition flex items-center justify-center rounded-md;
  &:hover {
    @apply opacity-100;
  }

  &:active {
    transform: translateY(2px);
  }
  &--circle {
    @apply rounded-full;
  }
  &--ghost {
    &:hover {
      @apply bg-white/20;
    }
  }
  &--glass {
    @apply bg-white/20;
    &:hover {
      @apply bg-primary;
      & > svg path {
        @apply stroke-foreground-primary;
      }
    }
  }
  &--primary {
    @apply bg-primary;
    &:hover {
      @apply bg-primary;
      & > svg path {
        @apply stroke-foreground-primary;
      }
    }
  }
  &--active {
    &:after {
      content: "";
      @apply absolute top-[2px] left-0 w-0 h-0;
      border-left: 3px solid var(--color-foreground);
      border-top: 3px solid var(--color-foreground);
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      opacity: 80%;
    }
  }
  &.disabled {
    @apply pointer-events-none cursor-default opacity-40;
  }
}
.button-dropdown {
  @apply flex items-center justify-start rounded-md px-2 py-1;
  &:hover {
    @apply bg-primary text-foreground-primary;
  }
  &:active {
    transform: translateY(2px);
  }
  &.disabled {
    opacity: 50%;
    &:hover {
      @apply bg-foreground text-background;
    }
    &:active {
      transform: none;
    }
  }
}
.button-dropdown {
  @apply flex items-center justify-start rounded-md px-2 py-1;
  &:hover {
    @apply bg-primary text-foreground-primary;
  }
  &:active {
    transform: translateY(2px);
  }
  &.disabled {
    opacity: 50%;
    &:hover {
      @apply bg-foreground text-background;
    }
    &:active {
      transform: none;
    }
  }
}
