.panel {
  @apply gap-4 absolute bottom-4 flex-col left-0 py-4 flex items-center justify-between z-20 w-full;
  // @extend %glass;
  max-width: 94%;
  left: 50%;
  transform: translateX(-50%);

  @include xl {
    @apply flex-row;
  }

  // background-color: rgba(98, 98, 98, 0.4);
  &__group {
    @apply flex flex-row items-center gap-4;
    &--right {
      @include md-max {
        @apply absolute -right-2 bottom-0 flex-col;
      }
    }
    &--left {
      @include md-max {
        @apply absolute left-0 bottom-4;
        max-width: 75vw;
      }
    }
  }
}
