@layer base {
  :root {
    --color-primary: #a855f7;

    --color-secondary: hsla(0, 0%, 100%, 0.2);
    --color-secondary: #ccc2d633;

    --color-foreground: rgb(204, 194, 214);
    --color-foreground-muted: rgba(225, 231, 239, 0.576);

    --color-background: #00000080;

    color: #9a3df233;
    color: #e1e7ef80;
    color: #2196f34d;

    --color-premium: "#efbf04"

    // modal overlay
    --bg-opaque: rgb(17, 17, 17, 0.25);

    --radius: 0.5rem;
  }
}


@layer base {
  :root {
    --color-primary: #a855f7;

    --color-primary: #1c1917;

    --color-input: #59576B;

    --color-foreground: rgb(204, 194, 214);
    --color-foreground-primary: rgb(204, 194, 214);

    --color-foreground-muted: rgba(225, 231, 239, 0.576);

    --color-background: #00000080;


    --color-ads: hsla(240 10% 3.9%; 0.502);

  }
}
