.select-input {
  @apply relative;
  z-index: auto;
  &__button {
    @apply py-2 pl-4 pr-6 w-full text-left capitalize;
  }
  &__option {
    @apply py-2 px-3 relative cursor-default select-none capitalize;
    &--active {
      @apply bg-primary text-foreground-primary;
    }
  }
  &__list {
    @apply w-full absolute overflow-auto rounded-lg mt-2 z-10;
    max-height: 18rem;
    min-width: 10rem;
    &--type {
      width: 18rem;
    }
    &--tonic {
      width: 7rem;
    }
    &--top {
      top: calc(-100% - 67px);
    }
  }
  &__label {
    @apply mb-3 text-foreground;
  }
  &--ghost,
  &--outlined {
    .select-input {
      &__button {
        @apply py-2 pl-4 pr-6 rounded-lg border-[2px];
        font-size: 2.75rem;
        line-height: 1.25;
        transition: 0.25s ease all;
      }
      &__list {
        @apply bg-neutral-700;
      }
    }
  }
  &--glass {
    .select-input {
      &__button {
        @apply text-foreground;
        @extend .glass-input;
        transition: 0.25s ease all;
      }
      &__list {
        @extend .glass-input;
        @apply cursor-pointer;
      }
    }
  }
  &--ghost {
    .select-input {
      &__button {
        @apply border-transparent bg-neutral-800;
        &:hover,
        &[data-headlessui-state="open"] {
          @apply bg-neutral-600 border-neutral-400;
        }
      }
    }
  }
  &--outlined {
    .select-input {
      &__button {
        @apply border-neutral-400 bg-transparent;
        &:hover,
        &[data-headlessui-state="open"] {
          @apply bg-neutral-600 border-neutral-300;
        }
      }
    }
  }
  &--sm {
    .select-input {
      &__button {
        @apply py-1;
        line-height: 1.25;
      }
    }
  }
}
