.glass,
%glass {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.25);
  //   border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.glass-blur,
%glass-blur {
  backdrop-filter: blur(4px);
}
.glass-bg-dark,
%glass-bg-dark {
  background-color: rgba(0, 0, 0, 0.2);
}
.glass-dark,
%glass-dark {
  @extend %glass;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  box-shadow: none;
}
.hover-glass-dark {
  @apply transition;
  &:hover {
    @extend %glass-dark;
  }
}
%glass-dark-solid {
  @extend %glass-dark;
  background-color: rgba(0, 0, 0, 0.7);
}
%glass-btn {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.13);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.glass-btn {
  @extend %glass-btn;
  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.glass-btn-hover {
  &:hover {
    @extend %glass-btn;
  }
}
