.bg-overlay {
  &:after {
    @apply absolute top-0 left-0 right-0 bottom-0;
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    // backdrop-filter: blur(2px);
    transition: all 0.15s ease;

    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.bg-overlay-frame {
  @apply absolute top-0 left-0 right-0 bottom-0;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.1);
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 6rem;
  margin-top: 3rem;
  transition: 0.4s ease border-color;
  &__wrap {
    @apply absolute top-0 left-0 right-0 bottom-0;
    z-index: 0;
    // &:hover {
    //   .bg-overlay-frame {
    //     border-color: rgba(255, 255, 255, 0.4);
    //   }
    // }
  }
  &__blur {
    @apply absolute top-0 left-0 right-0 bottom-0;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 6rem;
    margin-top: 3rem;
    & > div {
      @extend .glass-blur;
      @apply absolute;
      border-radius: 0;
      border: transparent;
      box-shadow: none;
      &:first-child {
        @apply -top-[6rem] -left-[6rem] right-0 w-screen h-[6rem];
      }
      &:nth-child(2) {
        @apply -bottom-[6rem] -left-[6rem] right-0 w-screen h-[6rem];
      }
      &:nth-child(3) {
        @apply top-0 bottom-0 -left-[6rem] h-full w-[6rem];
      }
      &:last-child {
        @apply top-0 bottom-0 -right-[6rem] h-full w-[6rem];
      }
    }
  }
}

.bg-overlay-focus {
  &:after {
    @apply absolute top-0 left-0 right-0 bottom-0;
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    transition: all 0.15s ease;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 15%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
