.bg-overlay {
  &:after {
    @apply absolute top-0 left-0 right-0 bottom-0;
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    // backdrop-filter: blur(2px);
    transition: all 0.15s ease;

    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}
