%bg-after-shared {
  @apply absolute top-0 left-0 right-0 bottom-0;
  content: "";
  transition: all 0.15s ease;
}
.bg-overlay {
  &:after {
    @apply absolute top-0 left-0 right-0 bottom-0;
    content: "";
    max-height: 100dvh;
    background-color: rgba(0, 0, 0, 0.25);
    // backdrop-filter: blur(2px);
    transition: all 0.15s ease;

    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 15%,
      rgba(255, 255, 255, 0) 80%,
      rgba(0, 0, 0, 1) 100%
    );
  }
  &--blur {
    &::after {
      @extend %bg-after-shared;
      backdrop-filter: blur(var(--bg-overlay-blur, 4px));
    }
  }
  &--shadow {
    &::after {
      @extend %bg-after-shared;
      background: linear-gradient(
        0deg,
        rgb(26, 26, 28) 0%,
        rgba(26, 26, 28, var(--bg-overlay-shadow-amount, 0.5)) 15%,
        rgba(26, 26, 28, var(--bg-overlay-shadow-amount, 0.5)) 85%,
        rgba(26, 26, 28, 1) 100%
      );
    }
  }
}

.bg-overlay-frame {
  @apply absolute top-0 left-0 right-0 bottom-0;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 6rem;
  margin-top: 3rem;
  border-color: transparent;

  &--glass-frame {
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.1);
    transition: 0.4s ease border-color;
  }
  &--glass-frame-mini {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  &__wrap {
    @apply absolute top-0 left-0 right-0 bottom-0;
    z-index: 0;
    // &:hover {
    //   .bg-overlay-frame {
    //     border-color: rgba(255, 255, 255, 0.4);
    //   }
    // }
    &--vignette {
      -webkit-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);
      box-shadow: inset 0px 0px 85px rgba(0, 0, 0, 0.4);

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      content: "";
    }
  }
  &__blur {
    @apply absolute top-0 left-0 right-0 bottom-0 pointer-events-none;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 6rem;
    margin-top: 3rem;
    & > div {
      @extend .glass-blur;
      @apply absolute;
      border-radius: 0;
      border: transparent;
      box-shadow: none;
      &:first-child {
        @apply -top-[6rem] -left-[6rem] right-0 w-screen h-[6rem];
      }
      &:nth-child(2) {
        @apply -bottom-[6rem] -left-[6rem] right-0 w-screen h-[6rem];
      }
      &:nth-child(3) {
        @apply top-0 bottom-0 -left-[6rem] h-full w-[6rem];
      }
      &:last-child {
        @apply top-0 bottom-0 -right-[6rem] h-full w-[6rem];
      }
    }
    &--mini {
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }
}

.bg-overlay-focus {
  &:after {
    @apply absolute top-0 left-0 right-0 bottom-0;
    content: "";
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    transition: all 0.15s ease;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 15%,
      rgba(0, 0, 0, 0.3) 80%,
      rgba(0, 0, 0, 1) 100%
    );
  }
}

.bg-overlay-noise {
  @apply absolute top-0 left-0 right-0 bottom-0;
  background-image: url("../assets/img/noise-light.png");
}

.bg-overlay-welcome {
  @apply absolute z-50 top-0 left-0 right-0 bottom-0;
  border-color: transparent;
  backdrop-filter: blur(9px);
  background-color: rgba(0, 0, 0, 0.95);
  animation: fadeOutBg 5s ease forwards;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/img/noise-light.png");
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.3;
    z-index: -1;
    pointer-events: none;
  }
}

@keyframes fadeOutBg {
  to {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@keyframes fadeOutBlur {
  to {
    backdrop-filter: blur(0px);
  }
}
